In [2]:
import pandas as pd
import numpy as np
from rapidfuzz import process, fuzz

In [2]:
LCA_DATA = pd.read_excel(".\Data\Enzo OE 4-1 to 4-26.xlsx",sheet_name='Sheet2',usecols=[0,1,2,3,4,5,6,7])
new_slab_data = pd.read_excel(".\Data\Accessions 5.9.xlsx",sheet_name='Sheet2',usecols=[0,1,2,3,4,5,6])

LCA_DATA, new_slab_data

In [73]:
%%time
fuzz_dict = dict.fromkeys(new_slab_data['Name dob'])

for name in new_slab_data['Name dob']:
    name_fuzz = process.extract(name, LCA_DATA['Name dob'], scorer = fuzz.ratio)
    for tup in name_fuzz.copy():
        if tup[1] < 80:
            index = name_fuzz.index(tup)
            name_fuzz.pop(index)
    fuzz_dict[name] = name_fuzz

CPU times: total: 44.6 s
Wall time: 2min 51s

In [74]:
%%time
matched_lca_list = []
matched_slab_list = []

def append_row(list, num_of_appends, backup_appends, dataframe):
    # if num_of_appends == 1:
    #     for n in range(backup_appends):
    #         list.append(dataframe)
    # else:        
    for n in range(num_of_appends):
        list.append(dataframe)
        
    return list

test = 0
for name in fuzz_dict:
    # if test == 7:
    #     break
    if len(fuzz_dict[name]) != 0:
        lca_row = LCA_DATA.loc[LCA_DATA['Name dob'] == name] #set 'row' equal to the row from 'LCA_DATA' where 
        lca_occur = len(lca_row)
        # print(f'lca row: {lca_row}')
        # print()
        # print(f'lca_occur: {lca_occur}')

        slab_row = new_slab_data.loc[new_slab_data['Name dob'] == name]
        slab_occur = len(slab_row)
        # print(f'slab_row: {slab_row}')
        # print()
        # print(f'Slab occur: {slab_occur}')

        matched_lca_list = append_row(matched_lca_list, slab_occur, lca_occur, lca_row)
        matched_slab_list = append_row(matched_slab_list, lca_occur, slab_occur, slab_row)
        
        test += 1

CPU times: total: 3.92 s
Wall time: 14.5 s

In [75]:
#print(matched_lca_list)

In [76]:
#print(matched_slab_list)

In [77]:
lca_exportDF = pd.concat(matched_lca_list)
slab_exportDF = pd.concat(matched_slab_list)

In [78]:
print(len(lca_exportDF),len(slab_exportDF)) #THIS IS WHEN THRESHOLD IS <= 90

6852 6852

In [79]:
# writer = pd.ExcelWriter(r'C:\Users\smosavarpour\Documents\Coding\Python\FuzzySearch\Data\test-export.xlsx')

# lca_exportDF.to_excel(writer, sheet_name='LCA',index=False)
# slab_exportDF.to_excel(writer, sheet_name='SLAB',index=False)

# writer.save()

In [17]:
#HOW TO APPEND TO EXISTING SHEET,

test_list = [1,2,3,4,5,6,7,123]
test_list2 = ['Sam','brad','logan','matt']

df = pd.DataFrame(test_list)
df2 = pd.DataFrame(test_list2)

# writer = pd.ExcelWriter(r".\Data\Book2.xlsx",
#                 mode="a",
#                 if_sheet_exists = "overlay")

# df.to_excel(writer, sheet_name="Sheet1", startcol=0)
# df2.to_excel(writer, sheet_name="Sheet1",startcol=0, startrow=df[0].index[-1])

# writer.close()

In [14]:
df[0].index[-1]

7

In [7]:
df

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8